#include? "../../LoopFollowConfigOverride.xcconfig"

//
//  Config.xcconfig
//  nsapple
//
//  Created by Kenneth Stack on 4/12/18.
//  Copyright © 2018 Perceptus.org. All rights reserved.
//
unique_id = ${DEVELOPMENT_TEAM}


// To build multiple instances of LoopFollow, uncomment the next two lines
// and replace "Bob" with the desired app name for this instance:
display_name = Bob
unique_id = $(display_name)

// Explanation:
// --------------------------------
// The 'unique_id' variable is used as part of the bundle identifier to distinguish
// your app from others. By default, it is set to your DEVELOPMENT_TEAM ID.

// If you need to create multiple instances of the app with different bundle identifiers,
// you can uncomment the 'display_name' and 'unique_id' lines above. This allows you to
// set a custom 'display_name' for the app, which will be used as part of the bundle identifier.

// For example, if 'display_name' is set to "Jonas", the bundle identifier will become:
// com.Jonas.LoopFollow

// Note: Remember to comment out or remove the 'display_name' and 'unique_id' lines
// when you want to revert to using the default bundle identifier with just the 'unique_id'.    
